.color-green {
  color: #DAFF01;
}

.color-lilac {
  background-color: #9353FF;
}

.color-lilac:hover {
  background-color: #a06cfa;
}

.small-text {
  font-size: 13px;
}

.facilities,
.news {
  width: 325px;
}

@media(min-width: 768px) {
  .news {
    width: 696px;
  }
}